body{
    background-color: #F2EFE8!important;

}
.color-red{
    color:#E53333;
}
.big-name{
    color:#c98601;
    font-size:28px
}
.jrh-middle{
    width: 1170px;
    height: auto;
    overflow: hidden;
    background-color: #FFF;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 1px;
    font-family: 宋体!important;
    padding-bottom: 80px;
}
.jrh-middle div:first-child p{
    margin: 60px 0 0 110px;
    font-size: 14px;
    line-height: 1.8em;
}

.jrh-middle div:nth-child(2) p{
    margin: 40px 0 0 110px;
    font-size: 14px;
    line-height: 2em;
}
.menu-box{
    margin: 60px 0 0 110px;
}
.menu-box a{
    display: block;
    width: 220px;
    height: 180px;
    border: 1px solid #E0E0E0;
    float: left;
    padding-top: 60px;
    text-align: center;

}
.menu-box a:hover{
    color: #FFF;
    background-color: #c98601;
    cursor: pointer;
}
.menu-box a + a{
    margin-left: 30px;
}
.menu-box a:first-child{
    font-size: 28px;
    letter-spacing: 5px;


}

.menu-box a:nth-child(2) p:first-child,.menu-box a:nth-child(3) p:first-child,.menu-box a:nth-child(4) p:first-child{
    font-size: 28px;
    letter-spacing: 5px;
}
.clause{
    width: 1170px;
    height: 180px;
    margin: 0 auto;
    background: #E1E1E1;
    overflow: hidden;
    margin-bottom: 100px;
}

.clause h5{
    font-size: 16px;
    margin: 40px 0 20px 110px;
}

.clause p{
    margin-left:110px;
    font-size: 14px;
    font-family: 宋体;
    line-height: 1.1em;
}


